Repository eclipse-elk/elk, pull requests merged in 2020-04, with the labels that each got.

#539 Removed compiler warnings
  plugins/org.eclipse.elk.alg.graphviz.dot/src/org/eclipse/elk/alg/graphviz/dot/formatting2/GraphvizDotFormatter.xtend
  plugins/org.eclipse.elk.alg.radial/META-INF/MANIFEST.MF
  plugins/org.eclipse.elk.core.debug.grandom.ui/src/org/eclipse/elk/core/debug/grandom/ui/GRandomHandler.xtend
  plugins/org.eclipse.elk.core.debug.grandom/src/org/eclipse/elk/core/debug/grandom/validation/GRandomValidator.xtend
  plugins/org.eclipse.elk.core.meta.ui/src/org/eclipse/elk/core/meta/ui/outline/MetaDataOutlineTreeProvider.xtend
  plugins/org.eclipse.elk.core.meta/src/org/eclipse/elk/core/meta/formatting2/MetaDataFormatter.xtend
  plugins/org.eclipse.elk.core.meta/src/org/eclipse/elk/core/meta/jvmmodel/MelkDocumentationGenerator.xtend
  plugins/org.eclipse.elk.core.meta/src/org/eclipse/elk/core/meta/jvmmodel/MetaDataJvmModelInferrer.xtend
  plugins/org.eclipse.elk.graph.json/src/org/eclipse/elk/graph/json/JsonAdapter.xtend
  plugins/org.eclipse.elk.graph.json/src/org/eclipse/elk/graph/json/JsonExporter.xtend
  plugins/org.eclipse.elk.graph.text.ide/src/org/eclipse/elk/graph/text/ide/contentassist/ElkGraphProposalProvider.xtend
  test/org.eclipse.elk.core.test/META-INF/MANIFEST.MF
Labels: chore

#538 Minor fixes to the tests
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p3order/ForsterConstraintResolver.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/InLayerConstraintProcessorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p3order/counting/AllCrossingsCounterTest.java
  test/org.eclipse.elk.graph.json.test/pom.xml
Labels: tests

#543 Further fixes to tests
  build/pom.xml
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p4nodes/NetworkSimplexPlacer.java
Labels: alg-layered, bug, tests

#545 Switch unit tests to using elkg instead of elkt for ptolemy models
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/InLayerConstraintProcessorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/InvertedPortProcessorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LabelDummyRemoverTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LabelSideSelectorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LayerSizeAndGraphHeigthCalculatorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LongEdgeJoinerTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LongEdgeSplitterTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/NodeMarginCalculatorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/NodePromotionTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/PortListSorterTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/PortSideProcessorTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/ReversedEdgeRestorerTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p1cycles/BasicCycleBreakerTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p2layers/BasicLayerAssignmentTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p4nodes/BasicNodePlacementTest.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p5edges/BasicEdgeRouterTest.java
  test/org.eclipse.elk.alg.test/src/org/eclipse/elk/alg/test/framework/graph/GraphFromFile.java
Labels: tests

#560 Fix #541
  docs/content/documentation/algorithmdevelopers/unittesting.md
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/InvertedPortProcessor.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue541Test.java
  test/org.eclipse.elk.alg.test/src/org/eclipse/elk/alg/test/framework/io/FileNameFilter.java
Labels: alg-layered, bug

#561 Fix #552
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/SelfLoopPreProcessor.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue552Test.java
Labels: alg-layered, bug

#554 Rectpacking: Handle too big position constraints.
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPackingLayoutProvider.java
Labels: alg-rectpacking, bug

#564 Core: Fix algorithm resolving with inside self loops.
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/data/LayoutAlgorithmResolver.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue562Test.java
Labels: bug, core

#566 Fix #548
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/LGraphUtil.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue548Test.java
Labels: alg-layered, bug

#573 build: use 'enableAssertions' for tycho surefire
  build/pom.xml
Labels: build, enhancement

#571 Fixes #536
  build/org.eclipse.elk.repository/category.xml
  build/org.eclipse.elk.targetplatform/org.eclipse.elk.targetplatform.target
  docs/content/gettingstarted/_index.md
  features/org.eclipse.elk.graphiti.feature/.project
  features/org.eclipse.elk.graphiti.feature/.settings/org.eclipse.core.resources.prefs
  features/org.eclipse.elk.graphiti.feature/build.properties
  features/org.eclipse.elk.graphiti.feature/epl-2.0.html
  features/org.eclipse.elk.graphiti.feature/feature.properties
  features/org.eclipse.elk.graphiti.feature/feature.xml
  features/org.eclipse.elk.graphiti.feature/license.html
  features/org.eclipse.elk.graphiti.feature/pom.xml
  features/pom.xml
  plugins/org.eclipse.elk.conn.graphiti/.classpath
  plugins/org.eclipse.elk.conn.graphiti/.project
  plugins/org.eclipse.elk.conn.graphiti/.settings/org.eclipse.core.resources.prefs
  plugins/org.eclipse.elk.conn.graphiti/.settings/org.eclipse.jdt.core.prefs
  plugins/org.eclipse.elk.conn.graphiti/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.conn.graphiti/META-INF/MANIFEST.MF
  plugins/org.eclipse.elk.conn.graphiti/about.html
  plugins/org.eclipse.elk.conn.graphiti/build.properties
  plugins/org.eclipse.elk.conn.graphiti/plugin.xml
  plugins/org.eclipse.elk.conn.graphiti/pom.xml
  plugins/org.eclipse.elk.conn.graphiti/src/org/eclipse/elk/alg/graphiti/GraphElementIndicator.java
  plugins/org.eclipse.elk.conn.graphiti/src/org/eclipse/elk/alg/graphiti/GraphitiDiagramLayoutConnector.java
  plugins/org.eclipse.elk.conn.graphiti/src/org/eclipse/elk/alg/graphiti/GraphitiLayoutCommand.java
  plugins/org.eclipse.elk.conn.graphiti/src/org/eclipse/elk/alg/graphiti/GraphitiLayoutConfigurationStore.java
  plugins/org.eclipse.elk.conn.graphiti/src/org/eclipse/elk/alg/graphiti/GraphitiLayoutSetup.java
  plugins/pom.xml
  setups/EclipseLayoutKernel.setup
Labels: chore, connectors

#580 Fix #578
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
Labels: enhancement, meta-data

#581 Fixes #577 (remove legacyIds)
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/RecursiveGraphLayoutEngine.java
Labels: chore, meta-data

#582 Fix #579 (formatting melk)
  plugins/org.eclipse.elk.alg.common/src/org/eclipse/elk/alg/common/compaction/Polyomino.melk
  plugins/org.eclipse.elk.alg.disco/src/org/eclipse/elk/alg/disco/Disco.melk
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/Force.melk
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/stress/Stress.melk
  plugins/org.eclipse.elk.alg.graphviz.layouter/src/org/eclipse/elk/alg/graphviz/layouter/Graphviz.melk
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
  plugins/org.eclipse.elk.alg.mrtree/src/org/eclipse/elk/alg/mrtree/Tree.melk
  plugins/org.eclipse.elk.alg.radial/src/org/eclipse/elk/alg/radial/Radial.melk
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPacking.melk
  plugins/org.eclipse.elk.alg.spore/src/org/eclipse/elk/alg/spore/SPOrE.melk
  plugins/org.eclipse.elk.conn.gmf/src/org/eclipse/elk/conn/gmf/layouter/Gmf.melk
  plugins/org.eclipse.elk.core.meta/src/org/eclipse/elk/core/meta/formatting2/MetaDataFormatter.xtend
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/labels/Labels.melk
Labels: enhancement, graph-text
