Repository eclipse-elk/elk, pull requests merged in 2020-10, with the labels that each got.

#711 [PR] core: Document content alignment properly #688
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
Labels: core, meta-data

#713 [PR] Stress and force support inline edge labels
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/ElkGraphImporter.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/Force.melk
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/graph/FLabel.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/stress/Stress.melk
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/stress/StressLayoutProvider.java
Labels: alg-force, enhancement

#721 [PR] Melk: Fix wrong dependency links. #718
  docs/config.toml
  plugins/org.eclipse.elk.core.meta/src/org/eclipse/elk/core/meta/jvmmodel/MelkDocumentationGenerator.xtend
Labels: bug, website
