Repository eclipse-elk/elk, pull requests merged in 2020-05, with the labels that each got.

#589 layered: removed superfluous default on spacing.nodeNode
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
Labels: alg-layered, enhancement, meta-data

#590 Amendment to #582
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
Labels: alg-layered, enhancement, meta-data

#572 Fixes #405 (invalid port label positions)
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/GraphTransformer.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue405Test.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue405_2Test.java
Labels: alg-layered, bug

#584 FIxes #583
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPacking.melk
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPackingLayoutProvider.java
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/firstiteration/AreaApproximation.java
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/options/OptimizationGoal.java
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/seconditeration/RowFillingAndCompaction.java
  test/org.eclipse.elk.alg.rectpacking.test/.classpath
  test/org.eclipse.elk.alg.rectpacking.test/.project
  test/org.eclipse.elk.alg.rectpacking.test/.settings/org.eclipse.jdt.core.prefs
  test/org.eclipse.elk.alg.rectpacking.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.rectpacking.test/META-INF/MANIFEST.MF
  test/org.eclipse.elk.alg.rectpacking.test/about.html
  test/org.eclipse.elk.alg.rectpacking.test/build.properties
  test/org.eclipse.elk.alg.rectpacking.test/pom.xml
  test/org.eclipse.elk.alg.rectpacking.test/src/org/eclipse/elk/alg/rectpacking/issues/Issue583Test.java
  test/pom.xml
Labels: alg-rectpacking, bug

#595 Fixes #546
  docs/content/documentation/tooldevelopers/graphdatastructure/layoutoptions.md
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/ElkLayered.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/LGraphUtil.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue546Test.java
Labels: alg-layered, bug

#597 [PR] Layered: Fix external port label problems #596
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/ElkLayered.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/compound/CompoundGraphPreprocessor.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue596Test.java
Labels: alg-layered, bug

#602 [PR] Core: Register CoreOptions early enough. #601
  plugins/org.eclipse.elk.core/src/META-INF/services/org.eclipse.elk.core.data.ILayoutMetaDataProvider
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/data/LayoutMetaDataService.java
Labels: bug, core, meta-data

#607 Graph Text: Change default property proposal mechanism.
  plugins/org.eclipse.elk.graph.text.ide/src/org/eclipse/elk/graph/text/ide/contentassist/ElkGraphProposalProvider.xtend
Labels: enhancement, graph-text

#610 [PR] Layered: Fix too little padding reserved for compound node labels
  plugins/org.eclipse.elk.alg.common/src/org/eclipse/elk/alg/common/nodespacing/NodeLabelAndSizeCalculator.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/transform/ElkGraphImporter.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue603Test.java
Labels: alg-layered, bug

#609 Add tests for ElkUtil translate with content alignment
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPacking.melk
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
  test/org.eclipse.elk.core.test/src/org/eclipse/elk/core/util/ElkUtilTest.java
Labels: alg, enhancement, meta-data, tests

#612 [PR] More consistent layout algorithm names
  plugins/org.eclipse.elk.alg.graphviz.layouter/src/org/eclipse/elk/alg/graphviz/layouter/Graphviz.melk
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/RectPacking.melk
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
Labels: alg, enhancement

#613 [PR] Add logos
  README.md
  docs/layouts/index.html
  docs/layouts/partials/footer.html
  docs/layouts/partials/header.html
  docs/layouts/partials/navbar.html
  docs/static/img/elk.svg
  docs/static/img/elk_fav.svg
  docs/static/img/elk_light.svg
  docs/static/img/elk_small.svg
  docs/static/img/elk_small_light.svg
  docs/static/img/elk_with_text.svg
Labels: website

#619 [PR] Rename northOrSouthPort option
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/NorthSouthPortPreprocessor.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p3order/SweepCopy.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/AllowNonFlowPortsToSwitchSidesTest.java
Labels: alg-layered, enhancement, meta-data
