Repository eclipse-elk/elk, pull requests merged in 2020-06, with the labels that each got.

#615 Allow to use general IGraphElementConfigurator instead of LayoutConfigurator
  plugins/org.eclipse.elk.core.service/src/org/eclipse/elk/core/service/DiagramLayoutEngine.java
Labels: alg, enhancement

#631 [PR] Added im-/export of individual spacings to json graph
  plugins/org.eclipse.elk.graph.json/src/org/eclipse/elk/graph/json/JsonExporter.xtend
  plugins/org.eclipse.elk.graph.json/src/org/eclipse/elk/graph/json/JsonImporter.xtend
  test/org.eclipse.elk.graph.json.test/META-INF/MANIFEST.MF
  test/org.eclipse.elk.graph.json.test/src/org/eclipse/elk/graph/json/test/IndividualSpacingsTest.xtend
Labels: core, enhancement

#632 Removed 'programmatic' from 'port.index'
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
Labels: core

#633 graph.json: disabled html escaping of exporter output
  plugins/org.eclipse.elk.graph.json/src/org/eclipse/elk/graph/json/ElkGraphJson.java
Labels: graph-text

#637 build: updated target platform
  build/org.eclipse.elk.targetplatform/org.eclipse.elk.targetplatform.target
  setups/EclipseLayoutKernel.setup
Labels: build

#639 Corrected copyright in new file template
  plugins/org.eclipse.elk.alg.common/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.force/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.graphviz.dot/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.graphviz.layouter/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.layered/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.mrtree/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.radial/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.alg.rectpacking/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.conn.gmf/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.debug.grandom.ide/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.debug.grandom.ui/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.debug.grandom/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.debug/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.meta.ui/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.meta/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.service/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core.ui/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.core/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.graph.json/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.graph.text.ide/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.graph.text.ui/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.graph.text/.settings/org.eclipse.jdt.ui.prefs
  plugins/org.eclipse.elk.graph/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.common.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.disco.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.layered.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.rectpacking.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.alg.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.core.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.graph.json.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.graph.test/.settings/org.eclipse.jdt.ui.prefs
  test/org.eclipse.elk.shared.test/.settings/org.eclipse.jdt.ui.prefs
Labels: chore, devtools

#643 [PR] Layered: Fix DFS cycle breaker. #600
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p1cycles/DepthFirstCycleBreaker.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p1cycles/BasicCycleBreakerTest.java
Labels: alg-layered, bug

#644 [PR] Layered: Remove problematic assertion. #599
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/EndLabelPreprocessor.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/LabelSideSelectorTest.java
Labels: alg-layered, bug

#645 [PR] Alg: Fix negative node margins. #616
  plugins/org.eclipse.elk.alg.common/src/org/eclipse/elk/alg/common/nodespacing/NodeMarginCalculator.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/NodeMarginCalculatorTest.java
Labels: alg-layered, bug

#647 [PR] Rename options *ID -> *Id
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/transform/ElkGraphLayoutTransferrer.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/ConstraintsPostprocessor.java
Labels: chore

#650 [PR] Layered: Proper error message for invalid hierarchical edges. #588
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/transform/ElkGraphImporter.java
Labels: alg-layered, enhancement

#649 [PR] Layered: Comment-related spacings are now inherited. #594
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/CommentNodeMarginCalculator.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/CommentPostprocessor.java
  plugins/org.eclipse.elk.core/src/org/eclipse/elk/core/Core.melk
Labels: alg-layered, enhancement

#635 [PR] Added CompoundGraphVisitor and interactive layered/rectpacking graph visitor
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/InteractiveLayeredGraphVisitor.java
  plugins/org.eclipse.elk.alg.rectpacking/src/org/eclipse/elk/alg/rectpacking/InteractiveRectPackingGraphVisitor.java
  plugins/org.eclipse.elk.core.service/src/org/eclipse/elk/core/service/util/CompoundGraphElementVisitor.java
Labels: alg-layered, alg-rectpacking, new feature
