Repository eclipse-elk/elk, pull requests merged in 2023-03, with the labels that each got.

#906 [DRAFT] Wrong tail edge label (#905)
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/EndLabelPostprocessor.java
Labels: alg-layered

#895 Port Model Order
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/Layered.melk
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/transform/ElkGraphImporter.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/SortByInputModelProcessor.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/preserveorder/ModelOrderPortComparator.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p3order/LayerSweepCrossingMinimizer.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/intermediate/BasicConsiderModelOrderTest.java
Labels: alg-layered

#889 Added bendpoints to force layout.
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/ElkGraphImporter.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/graph/FEdge.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/graph/FNode.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/graph/FParticle.java
  plugins/org.eclipse.elk.alg.force/src/org/eclipse/elk/alg/force/model/AbstractForceModel.java
Labels: alg-force

#911 Fixed feedback edges resulting in wrong ordering.
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/intermediate/preserveorder/ModelOrderNodeComparator.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue871Test.java
Labels: alg-layered

#909 Constraining layout blog post
  docs/content/blog/2023.md
  docs/content/blog/_index.md
  docs/content/blog/posts/2023/23-01-09-constraining-the-model.md
  docs/static/img/cb-MO.svg
  docs/static/img/cb-greedy.svg
  docs/static/img/cb-greedyMO.svg
  docs/static/img/cm-enforceMO.svg
  docs/static/img/cm-enforceNodes.svg
  docs/static/img/cm-nodesAndEdges.svg
  docs/static/img/cm-preferEdges.svg
  docs/static/img/cm-preferNodes.svg
  docs/static/img/cm-tiebreaker.svg
  docs/static/img/la-correct.svg
  docs/static/img/la.svg
Labels: website

#913 Layered: Add tests for #905
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/issues/Issue905Test.java
Labels: alg-layered

#914 New model order layer assignment strategies.
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/graph/transform/ElkGraphImporter.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/options/LayeringStrategy.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p2layers/BreadthFirstModelOrderLayerer.java
  plugins/org.eclipse.elk.alg.layered/src/org/eclipse/elk/alg/layered/p2layers/DepthFirstModelOrderLayerer.java
  test/org.eclipse.elk.alg.layered.test/src/org/eclipse/elk/alg/layered/p2layers/BasicModelOrderTest.java
Labels: alg-layered
